.fade-in {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .navbar {
    background-color: #000 !important;
}

body.dark-mode a,
body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode footer {
    color: white !important;
}

body.dark-mode footer {
    background-color: #000;
}

body.dark-mode .btn-outline-light {
    color: white;
    border-color: white;
}

body.dark-mode img.shadow {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.12);
}

body.light-mode {
    background-color: white;
    color: black;
}

body.light-mode .navbar {
    background-color: #f8f9fa !important;
}

body.light-mode a,
body.light-mode p,
body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode h4,
body.light-mode footer {
    color: black !important;
}

body.light-mode footer {
    background-color: #f8f9fa;
}

body.light-mode .navbar a {
    color: black !important;
}

body.light-mode .btn-outline-light {
    color: black;
    border-color: black;
}

body.light-mode img.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
}

footer {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-anim {
    transition: 0.3s;
}

.btn-anim:hover {
    transform: scale(1.05);
}

img.shadow {
    transition: 0.3s ease-in-out;
}

img.shadow:hover {
    transform: scale(1.03);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

