fade-in {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.light-mode {
    background-color: white;
    color: black;
}

.btn-anim {
    transition: 0.3s;
}

.btn-anim:hover {
    transform: scale(1.05);
}

.gallery-card img,
img.shadow {
    transition: 0.3s ease-in-out;
}

.gallery-card img:hover {
    transform: scale(1.03);
}