fade-in {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.light-mode {
    background-color: white;
    color: black;
}